body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Fonts */
a {
  text-decoration: none;
}

header {
  background-color: #c70039;
  height: 68px;
  color: white;
}
header #headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto; /* MISS-ALIGNMENT */
  padding: 10px;
}
header .section:first-of-type {
  font-size: 32px;
}
header .section:first-of-type p {
  margin: 0;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding-left: 0;
}
header nav ul a {
  color: white;
  display: block;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  font-size: 18px;
}
header nav ul a:hover {
  color: #ffc300;
}
header .section {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: 0 5px;
  padding: 0 10px 0 0;
}
header .section:nth-child(3) .search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  height: 38px;
  width: 214px;
  margin-right: 1rem;
}
header .section:nth-child(3) .search-input {
  border: none;
  padding: 10px;
  outline: none;
  width: 214px;
  font-size: 12px;
}
header .section:nth-child(3) .search-button {
  background-color: #ffc300;
  border: none;
  padding: 12px;
  cursor: pointer;
}
header .section:nth-child(3) .search-button i {
  color: white;
}
header .section:nth-last-child(1) {
  position: relative;
  position: relative;
  /*     .ic:first-of-type {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: -1px;
  } */
}
header .section:nth-last-child(1) img:nth-child(1) {
  width: 38px;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 3px;
}
header .section:nth-last-child(1) img:nth-child(2) {
  width: 46px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  padding-inline-end: 10px;
  background-color: #ff7f50;
}
.hero-section .hero-content {
  max-width: 50%;
}
.hero-section .hero-content h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}
.hero-section .hero-content span {
  color: #d41f4f;
}
.hero-section .hero-content p {
  margin: 20px 0;
  color: white;
}
.hero-section .btn {
  background-color: #d41f4f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero-image {
  position: relative;
  width: 50%;
  text-align: center;
  /*   .swiper-slide img {
    display: block;
    width: 100%;
    // height: 100%;
    object-fit: cover;
  } */
}
.hero-image .swiper {
  height: 300px;
}
.hero-image .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  background-color: white;
  /* ABOUT US */
}
.about-section .about-image1 {
  position: relative;
  width: 50%;
  padding-block-start: 5%;
  padding-inline-end: 30px;
  overflow: hidden;
  text-align: right;
}
.about-section .about-image1 img {
  position: inherit;
  width: 90%;
  height: 85%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .about-image1::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 80%;
  height: 80%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border: 5px solid #ff5733;
  transform: translateX(20px);
}
.about-section .about-content {
  max-width: 50%;
  padding: 20px;
}
.about-section .about-content > p {
  margin: 20px 0;
  font-size: 18px;
  font-weight: light;
  color: #333;
  text-align: justify;
}
.about-section .about-content h2 {
  font-size: 46px;
  font-weight: bold;
  color: #d41f4f;
  margin: 0;
}
.about-section .about-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}
.about-section .stat {
  flex: 1 1 50%;
  max-width: calc(50% - 20px);
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  padding-block: 30px;
  padding-inline: 10px;
}
.about-section .stat h3 {
  font-size: 54px;
  font-weight: bold;
  color: #c70039;
  margin: 0;
}
.about-section .stat p {
  font-size: 26px;
  margin: 0px;
  color: inherit;
}

/* TITLES COMMON STYLING */
.ttl {
  margin-block: 1rem;
  margin-block-end: 2rem;
  text-align: center;
}
.ttl h2 {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
}
.ttl p {
  font-size: 18px;
}

/* OUR SERVICES */
.blocks {
  margin: 0 auto;
  padding-inline: 70px;
  background-color: white;
}
.blocks:first-of-type {
  margin-block-end: 10rem;
}
.blocks .orserv span {
  color: #ff5733;
}

.zigzag {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /*   width: 90%;
  height: max-content;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px; */
  border-radius: 10px;
  position: relative;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  grid-row: span 2;
}
.card img {
  display: block;
  width: 100%;
  height: 325px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: -80px;
  object-position: -120px;
  filter: brightness(0.7);
}
.card p {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  background-color: #c70039;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
.card:nth-child(odd) {
  top: 20%;
}
.card:last-child {
  background-color: #c70039;
}
.card:last-child p {
  background-color: #c70039;
}
.card:hover {
  transform: scale(1);
}

/* WCU */
.whChus {
  background-color: #900c3f;
  color: white;
  box-sizing: border-box;
  padding-block-end: 6rem;
  padding-block-start: 1rem;
  margin-block-end: 6rem;
}
.whChus .wrapperD {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.whChus .flxbx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.whChus .flxbx .nos {
  width: 30%;
  text-align: left;
}
.whChus .flxbx .nos > h3,
.whChus .flxbx .nos p {
  margin: 0;
  margin-block-end: 1rem;
}
.whChus .flxbx .nos > h3:first-of-type {
  font-size: 18px;
  font-weight: bold;
}
.whChus .flxbx .nos > h3:nth-of-type(2) {
  font-size: 28px;
  font-weight: bold;
}

/* TSTI */
.tsti {
  background-color: #ffc300;
  box-sizing: border-box;
  padding-block-end: 6rem;
  padding-block-start: 1rem;
  margin-block-end: 6rem;
}
.tsti .flxbx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.tsti .flxbx .nos {
  box-sizing: border-box;
  width: 30%;
  text-align: left;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
}
.tsti .flxbx .nos p {
  margin: 0;
  padding-inline-start: 1rem;
}
.tsti .flxbx .bx, .tsti .flxbx .bx .vwr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 12px;
}
.tsti .flxbx .bx .vwr {
  justify-content: left !important;
}
.tsti .flxbx .bx .vwr img {
  width: 52px;
  height: 52px;
}
.tsti .flxbx .bx .vwr .quote {
  height: 55px;
}
.tsti .flxbx .desc {
  padding-inline-start: 2rem;
}

/* CONTACT US */
.contUs {
  box-sizing: border-box;
  padding-block-end: 6rem;
  padding-block-start: 1rem;
}
.contUs span {
  color: #ff5733;
}
.contUs .flxbx {
  display: flex;
  width: 100%;
  height: 50vh;
}
.contUs .flxbx .col {
  flex: 1;
}
.contUs .frm {
  background: url("../assets/png/cuBg.png") no-repeat;
  background-origin: border-box;
  background-size: 630px;
  background-position: center;
}
.contUs .frm form {
  color: white;
  transform: translateY(38px);
}
.contUs .frm .row1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.contUs .frm .row1 p {
  font-size: 26px;
}
.contUs .frm .row1 input,
.contUs .frm .row1 textarea {
  height: 38px;
  width: 100%;
  background-color: #fff0f0;
  margin-block-end: 1rem;
  border-radius: 1rem;
  padding-inline: 1rem;
  font-size: 1rem;
}
.contUs .frm .row1 textarea {
  height: 103px;
}
.contUs .frm .row1 button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  height: 38px;
  border-radius: 0.5rem;
  background-color: #ffc300;
  font-size: 22px;
}
.contUs .frm label {
  display: none;
}
.contUs .frmDets p,
.contUs .frmDets h4 {
  margin: 0;
}
.contUs .frmDets > h4 {
  font-size: 32px;
}
.contUs .frmDets .container, .contUs .frmDets .row {
  margin-block-start: 2rem;
}
.contUs .frmDets .row {
  display: flex;
  align-items: center;
  justify-content: left;
}
.contUs .frmDets .row img {
  color: #c70039;
  height: 24px;
  width: 24px;
}
.contUs .frmDets .text-column {
  flex: 1;
  padding-left: 10px;
}
.contUs .frmDets .text-column p,
.contUs .frmDets .text-column address {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
}

/* FOOTER */
.footer {
  background-color: #5b1b44;
  color: #fff;
  padding-inline: 70px;
}
.footer .container, .footer .contUs .frmDets .row, .contUs .frmDets .footer .row {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-content .footer-logo h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.footer .footer-content .footer-menu ul {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-menu ul li {
  margin-bottom: 10px;
}
.footer .footer-content .footer-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.footer .footer-content .footer-menu ul li a:hover {
  text-decoration: underline;
}
.footer .footer-content .footer-newsletter h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffc300;
}
.footer .footer-content .footer-newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start !important;
}
.footer .footer-content .footer-newsletter form input[type=email] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-inline-start: 25px;
  margin-block-end: 10px;
  border: none;
  border-radius: 50px;
  flex: 1;
}
.footer .footer-content .footer-newsletter form button {
  padding: 10px 20px;
  border: none;
  background-color: #ffc300;
  color: #5b1b44;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.footer .footer-content .footer-newsletter form button:hover {
  background-color: #e6b800;
}
.footer .footer-content .footer-download h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer .footer-content .footer-download .download-buttons {
  display: flex;
}
.footer .footer-content .footer-download .download-buttons a {
  margin-right: 10px;
}
.footer .footer-content .footer-download .download-buttons a img {
  width: 8.25rem;
}
.footer .footer-social-media {
  margin-top: 20px;
}
.footer .footer-social-media h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer .footer-social-media .social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #ffc300;
  text-decoration: none;
}
.footer .footer-social-media .social-icons a:hover {
  color: #e6b800;
}
.footer .footer-bottom {
  margin-top: 20px;
  text-align: center;
}
.footer .footer-bottom p {
  margin: 0;
  border-block-start: 1px solid white;
  font-size: 14px;
  padding: 1rem;
  padding-block-end: 0;
}

/* Arul - start*/
/* Arul - end *//*# sourceMappingURL=styles.css.map */